body {
    font-family: "Noto Sans KR", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: var(--font-default-color);
}

h1,
h2,
h3,
h4 {
    font-family: "Jua", serif;
    font-weight: 400;
    font-style: normal;
}

#app {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

header {
    padding-top: var(--page-padding);
    width: var(--header-width);
    background-color: var(--header-bg-color);
    flex-shrink: 0;
}

h1.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.logo span.text {
    padding: 16px;
    font-size: 1.8rem;
}

main {
    padding: var(--page-padding);
}

h2.title {
    font-size: 2.4rem;
    margin-bottom: 24px;
}

h3.subtitle {
    font-size: 1.6rem;
    margin: var(--page-subtitle-margin-y) 0;
}

h4 {
    font-size: 1.4rem;
    margin-bottom: var(--page-subtitle-margin-y);
}

section > p,
article > p {
    line-height: 24px;
    text-indent: 8px;
}

section,
article {
    display: flex;
    flex-flow: column;
}

div.thumbnail {
    display: flex;
    justify-content: center;
    margin-bottom: var(--page-paragraph-margin-y);
}

/*div.gallery {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3, 1fr);*/
/*}*/

div.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



section::after {
    content: "";
    display: block;
    margin-top: var(--page-subtitle-margin-y);
    border-bottom: 1px solid var(--divider-color);
}

hr {
    border: 1px solid var(--divider-color);
}

aside {
    padding-top: var(--page-padding-top);
    width: var(--aside-width);
    background-color: var(--aside-bg-color);
    flex-shrink: 0;
}

aside h2 {
    font-size: 1.7rem;
}

.profile-image {
    background-image: url("../images/profile.jpg");
    background-size: 120%;
    background-position: top center;
    width: var(--aside-width);
    height: var(--aside-width);
    text-indent: -1000rem;
}

aside.right-sidebar nav {
    padding: var(--right-sidebar-padding);
}

ol.contents {
    list-style-type: decimal;
    padding: 24px;
}

ol.contents li:not(:last-child) {
    margin-bottom: 16px;
}

ol.contents li a {
    text-decoration: none;
    color: var(--font-default-color);
}

.comment-input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
}

.comment-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.comment-author-img {
    position: absolute;
    left: 10px;
    width: 28px; /* 원하는 크기로 조정 */
    height: 28px;
}

.comment-input {
    width: 100%;
    height: 40px;
    border: 1px solid #d8d8d8;
    padding: 0 8px 0 46px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.comment-cancel {
    width: 60px;
    height: 42px;
    background-color: #d8d8d8;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.comment-submit {
    width: 60px;
    height: 42px;
    border: none;
    background-color: #d8f9f6;
    font-weight: bold;
    cursor: pointer;
}

.comment-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comment-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 6px 24px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 12px;
}

.comment-author {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
}

.comment-author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.comment-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    font-size: 14px;
    color: #333;
    line-height: 1.6;
}

.comment-author span {
    font-size: 16px;
    font-weight: bold;
    color: #222;
}

footer {
    display: flex;
    flex-direction: column;
    padding-top: var(--page-padding-top);
    align-items: center;
    margin: 24px;
}

footer p {
    margin-top: 8px;
}

:root {
    --page-padding: 48px;
    --page-subtitle-margin-y: 32px;
    --page-paragraph-margin-y: 16px;
    --right-sidebar-padding: 32px;

    --header-width: 235px;
    --header-bg-color: #f6f6f6;

    --aside-width: 350px;
    --aside-bg-color: #f6f6f6;

    --divider-color: #efefef;
    --font-default-color: #333;
}
